@page "/ByRest"
@using RestaurantReservation.Shared
@inject HttpClient Http

<h1>Search Reviews by Restaurant</h1>


<input @bind-value="rest" />
<button @onclick="@GetReviews">Search</button>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>FirstName</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Comments</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var review in reviews)
        {
        <tr>
            <td>@review.Name</td>
            <td>@review.FirstName</td>
            <td>@review.Email</td>
            <td>@review.Rating</td>
            <td>@review.Comments</td>




        </tr>
        }
    </tbody>
</table>
