@page "/Register"
@using System.ComponentModel.DataAnnotations

@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="col-md-6 offset-md-3 mt-5">

    <div class="card">
        <h4 class="card-header">Restaurant Reservations</h4>
        <div class="card-body">
            <EditForm Model="@action" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="action.Email" type="email" class="form-control" />
                    <ValidationMessage For="@(() => action.Email)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="action.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => action.Password)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="action.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => action.Password)" />
                </div>
                <div class="form-group">
                    <label>FirstName</label>
                    <InputText @bind-Value="action.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => action.FirstName)" />
                </div>
                <div class="form-group">
                    <label>MiddleInitial</label>
                    <InputText @bind-Value="action.MiddleInitial" class="form-control" />
                    <ValidationMessage For="@(() => action.MiddleInitial)" />
                </div>
                <div class="form-group">
                    <label>LastName</label>
                    <InputText @bind-Value="action.LastName" class="form-control" />
                    <ValidationMessage For="@(() => action.LastName)" />
                </div>
                <div class="form-group">
                    <label>PhoneNumber</label>
                    <InputText @bind-Value="action.PhoneNumber" class="form-control" />
                    <ValidationMessage For="@(() => action.PhoneNumber)" />
                </div>
                <div class="form-group">
                    <label>State</label>
                    <InputText @bind-Value="action.State" class="form-control" />
                    <ValidationMessage For="@(() => action.State)" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <InputText @bind-Value="action.Zip" class="form-control" />
                    <ValidationMessage For="@(() => action.Zip)" />
                </div>
                <div class="form-group">
                    <label>Zip</label>
                    <InputText @bind-Value="action.City" class="form-control" />
                    <ValidationMessage For="@(() => action.City)" />
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <InputText @bind-Value="action.Street" class="form-control" />
                    <ValidationMessage For="@(() => action.Street)" />
                </div>
                <div class="form-group">
                    <label>HouseNumber</label>
                    <InputText @bind-Value="action.HouseNumber" class="form-control" />
                    <ValidationMessage For="@(() => action.HouseNumber)" />
                </div>
                <button class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }
            </EditForm>
        </div>
    </div>
</div>